#div01 {
    font-family: Calibri, serif;
}

#div02{
    font-family: Calibri, cursive;
}
#div03{
    font-family: Calibri, serif;
}

#div04{
    font-family: Calibri, serif;
    border: 1px solid #9d00ff;
    padding: 5px;
    width: fit-content;
}

#div05{
    font-family: Calibri, serif;
}

#div06{
    font-family: Calibri, serif;
}

#div11{
    font-family: Calibri, serif;
}

#div12{
    font-family: Calibri, serif;
}

#pfoot{
    font-family: Calibri, serif;
    text-align: center;
}



