#box1 {
    box-shadow: 0 0 5px #666;
    padding: 30px 60px 60px;
    width: 600px;
    margin: 20px auto;
    display: block;
}

#button{
    margin-top: 35px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: #e06161;
}